
html, body {
    height: 100%;
}
.container-full {
	margin: 0 auto;
  	width: 100%;
}
.header {
	
}

.navbar-fixed-bottom {
  	display: inline-block;
  	float: none;
  	vertical-align: top;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
.footer, .push {
	margin-top: 50px;
    height: 50px;
}
.footer-text {
	text-align: center;
	padding-top: 1%;
}

.footer-link {
	color: #455375
}
.without-margin {
	margin: 0;
}
.hidden {
	display: none;
}
.error {
	color: red;
}
.register-flow-form {
	width: 60%;
	margin: 60px auto 0 auto; 
}

.form-title {
	color: #73B140;
	margin-bottom: 35px;
}
.form-label {
	margin-bottom: 5px;
}
.title {
	color: #73B140;
}
.btn-center {
	margin: 25px auto 0 auto;
	width: 150px;
}
.add-btn-center {
	margin: 25px 0 25px 44%;
	width: 150px;
}
.left-button {
	margin-right: 20px;
}
#login .modal-dialog  {
	width:25%;
}

.flipper.rotate .login-form {
    -moz-transform: perspective(800px) rotateY(-180deg);
    -ms-transform: perspective(800px) rotateY(-180deg);
    -webkit-transform: perspective(800px) rotateY(-180deg);
    transform: perspective(800px) rotateY(-180deg)
}

.flipper.rotate .login-form.forgot-pass {
    -moz-transform: perspective(800px) rotateY(0deg);
    -ms-transform: perspective(800px) rotateY(0deg);
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg)
}

.flipper .login-form {
    
    width:100%;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); 
    box-shadow: 0 5px 15px rgba(0,0,0,.5); 
    border-radius: 5px; 
    background-color: #fff;
     backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    -moz-transition: -moz-transform .6s;
    -o-transition: -o-transform .6s;
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    -moz-transform: perspective(800px) rotateY(0deg);
    -ms-transform: perspective(800px) rotateY(0deg);
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg)
}

.flipper .login-form.forgot-pass {
    background-color: #fff;
    display: block;
    -moz-transform: perspective(800px) rotateY(180deg);
    -ms-transform: perspective(800px) rotateY(180deg);
    -webkit-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg)
}

.alert-small {
	padding: 5px;
    margin: 5px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand {
	margin-right: 40px;	
	float: left;
    padding: 0px 25px;
    font-size: 18px;
    line-height: 20px;
}
.panel {
	width: 80%;
	margin: 0 auto;
}
.edit-form {
	width: 80%;
	margin: 20px auto 0 auto; 
}

.nav .welcome {
    display: block;
    padding: 15px 15px;
}

.success-message {
	color: green;
	margin: 0 auto;
}

.current-product, .update-subscription-form {
	width: 50%;
	margin: 20px auto 0 auto;
	
}

.current-product h4 {
	text-align: center;
	margin-bottom: 60px;
}


.product {
	font-weight: bold;
}

.double-separator {
	width: 80%;
	margin: 50px auto 50px  auto;
}
 