@(allUsers: java.util.List[models.User], allProducts: java.util.List[models.Product], allStatuses: Array[models.enums.SubscriptionStatus])


<div class="modal fade" id="add-subscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content validate-product">
            <div class="modal-header">
                <h4 class="title">Add New Subscription</h4>
            </div>
            <div class="modal-body">
                 
                 
               <div class="row" id="alert-box-add"></div>  
                 
			   <div class="row form-group">
   
					<div class="col-sm-4 ">
				    	<label class="control-label" for="price">User:</label>
				    </div>
				
				    <div class="col-sm-8">
				    	<select class="form-input form-control user-cards select-box" id="user" 
				    		name="user" data-url="@admin.routes.CreditCardController.getUserCreditCards()">
			
							<option value="">Select User</option>
							@for((u, i) <- allUsers.zipWithIndex){
								<option value="@u.getId">@u.getId. @u.getFirstName @u.getLastName</option>
								
							}
							
						</select>
				    	
				    	<span class="error user-error"></span>
				    </div>
   				</div>
				
				<div class="row form-group">
   
					<div class="col-sm-4 ">
				    	<label class="control-label" for="creditCard">Credit Card:</label>
				    </div>
				
				    <div class="col-sm-8">
				    	<select class="form-input form-control credit-card select-box" id="creditCard" name="creditCard" 
				    		class="width5 expiry-field gray-text" disabled>
			
							<option value="">Select Credit Card</option>
							
							
						</select>
				    	
				    	<span class="error creditCard-error"></span>
				    </div>
   				</div>  
				
   				<div class="row form-group">
   
					<div class="col-sm-4 ">
				    	<label class="control-label" for="product">Product:</label>
				    </div>
				
				    <div class="col-sm-8">
				    	<select class="form-input form-control select-box" id="product" name="product" class="width5 expiry-field gray-text">
			
							<option value="">Select Product</option>
							@for((p, i) <- allProducts.zipWithIndex){
								<option value="@p.getId">@p.getId. @p.getName: @p.getPrice</option>
								
							}
							
						</select>
				    	
				    	<span class="error product-error"></span>
				    </div>
   				</div>
   				<div class="row form-group">
   					<span class="error subscription-error"></span>
   				</div> 
   				    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="confirmAddSubscription" class="btn btn-success btn-ok" 
                	data-url="@admin.routes.SubscriptionController.addSubscription()" >Add Subscription</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-subscription" tabindex="-1" role="dialog" 
	aria-labelledby="editSubscriptionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">Edit Subscription</h4>
            </div>
            <div class="modal-body">
               
               <div class="row" id="alert-box-edit"></div> 
                 
               <input type="hidden" id="subscriptionIdModal" value=""/>  
			   <div class="row form-group">
   
					<div class="col-sm-4 ">
				    	<label class="control-label" for="price">User:</label>
				    </div>
				
				    <div class="col-sm-8">
				    	<select class="form-input form-control user-cards select-box" id="userSubscriptionEdit" name="user" 
				    	data-url="@admin.routes.CreditCardController.getUserCreditCards()">
			
							@for((u, i) <- allUsers.zipWithIndex){
								<option value="@u.getId">@u.getId. @u.getFirstName @u.getLastName</option>
								
							}
							
						</select>
				    	
				    	<span class="error user-error"></span>
				    </div>
   				</div>
				    
				<div class="row form-group">
   
					<div class="col-sm-4 ">
				    	<label class="control-label" for="creditCard">Credit Card:</label>
				    </div>
				
				    <div class="col-sm-8">
				    	<select class="form-input form-control credit-card select-box" id="creditCardSubscriptionEdit" name="creditCard" 
				    		class="width5 expiry-field gray-text" disabled>
							
							
						</select>
				    	
				    	<span class="error creditCard-error"></span>
				    </div>
   				</div>  
   				
   				<div class="row form-group">
   
					<div class="col-sm-4 ">
				    	<label class="control-label" for="product">Product:</label>
				    </div>
				
				    <div class="col-sm-8">
				    	<select class="form-input form-control select-box" id="productSubscriptionEdit" name="product" 
				    		class="width5 expiry-field gray-text">
			
							@for((p, i) <- allProducts.zipWithIndex){
								<option value="@p.getId">@p.getId. @p.getName: @p.getPrice</option>
								
							}
							
						</select>
				    	
				    	<span class="error product-error"></span>
				    </div>
				</div>
				
    				
   				<div class="row form-group">
  
					<div class="col-sm-4 ">
				    	<label class="control-label" for="status">Subscription Status:</label>
				    </div>
    				<div class="col-sm-8">
				    	<select class="form-input form-control select-box" id="statusSubscriptionEdit" name="status" 
				    		class="width5 expiry-field gray-text">
			
							@for((s, i) <- allStatuses.zipWithIndex){
								<option value="@s">@s</option>
								
							}
							
						</select>
				    	
				    	<span class="error status-error"></span>
				    </div>
   				 </div> 
   				    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="confirmEditSubscription" class="btn btn-success btn-ok" 
                	data-url="@admin.routes.SubscriptionController.editSubscription()" >Edit Subscription</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Confirm Delete</strong>
            </div>
            <div class="modal-body">
                <p>You are about to delete the subscription, this procedure is irreversible.</p>

				<p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="confirmDeleteSubscription" class="btn btn-danger btn-ok" 
                	data-url="@admin.routes.SubscriptionController.deleteSubscription()" >Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelSubscriptionAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Confirm Subscription Cancellation</strong>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel the subscription?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a id="confirmCancelSubscriptionAdmin" class="btn btn-danger btn-ok" 
                	data-url="@admin.routes.SubscriptionController.cancelSubscription()" >Yes</a>
            </div>
        </div>
    </div>
</div>