@(user: models.User, product: models.Product, productList: java.util.List[models.Product], prePopulateOnly: java.lang.Boolean)

@if(user.getEmail == null && !prePopulateOnly){
	<form class="form-horizontal choose-product-form register-flow-form hidden"
		data-url="@routes.SignUpFlowController.chooseProduct()" role="form">
}else{
	<form class="form-horizontal choose-product-form register-flow-form"
		data-url="@routes.SignUpFlowController.chooseProduct()" role="form">
}
 
    <h3 class="text-center form-title">Choose product</h3>
    <div class="row form-group">
    	
    	<div class="col-sm-4">
    		<label class="control-label" for="product">Choose Product:</label>
    	</div>
    	
    	<div class="col-sm-8">
		    <select name="product" class="form-input form-control">
		    	@if(product.getId == 0){
		    		<option value="">Choose product</option>
		    	}
		        @for(p <- productList) {
		        	@if(product.getId == p.getId){
		    			<option value="@p.getId" selected>@p.getName - @p.getPrice</option>
		    		}else{
		    			<option value="@p.getId">@p.getName - @p.getPrice</option>
		    		}
				}
		    </select>
		    <span class="error" id="product-error"></span>
	    </div>
    </div>
    @if(product.getId == 0) {
    	<div class="row form-group">
    }else{
    	<div class="row form-group hidden">
    }  
	    <div class="col-sm-12 text-center">
    		<button class="btn btn-success btn-center" id="chooseProduct" type="submit">Continue</button>
		</div>
	</div>
</form>