@(c: models.CreditCard, allTypes: Array[models.enums.CardType], allUsers: java.util.List[models.User],
months: Array[models.enums.Month], years: Array[models.enums.Year])
<div class="row form-group">
	
	<div class="col-sm-2">
		<label class="control-label" for="name">Card Holder:</label>
	</div>

	<div class="col-sm-4">
		<input class="form-input form-control name " type="text" name="name" placeholder="Card Holder Name" value="@c.name"/>
		<span class="error" id="name-error"></span>
	</div>
	
	<div class="col-sm-2">
		<label class="control-label" for="cardType">Card Type:</label>
	</div>
	
	<div class="col-sm-4">
		<select class="form-input form-control card-type" name="cardType">
			@if(c.cardType == null){
	    		<option value="" >Choose Card Type</option>
	    	}
	    	
	        @for(cardType <- allTypes) {
	        	@if(c.cardType != null && c.cardType.value == cardType.value) {
	        		<option value="@cardType" selected>@cardType.value</option>
	        	}else{
	    			<option value="@cardType">@cardType.value</option>
	    		}
			}
   		 </select>
    	<span class="error" id="cardtype-error"></span>
    </div>
    
   </div>
   
   <div class="row form-group">
   	
   	<div class="col-sm-2">
		<label class="control-label" for="digits">Card Num:</label>
	</div>
   	
    <div class="col-sm-4">
   	 	<input class="form-input form-control digits" type="text" name="digits" placeholder="Card Number" value="@c.digits"/>
   	 	<span class="error" id="digits-error"></span>
    </div>
    
    <div class="col-sm-2">
		<label class="control-label" for="cardType">CVV Number:</label>
	</div>
    
    <div class="col-sm-4">
		<input class="form-input form-control cvv" type="text" name="cvv" placeholder="CVV Number" value="@c.cvv" />
		<span class="error cvv-error" ></span>
	</div>
	
</div>
    
<div class="row form-group">    
    
    <div class="col-sm-2">
    	<label class="control-label" >Exp. Date:</label>
    </div>
   	
   	<div class="col-sm-2">

		<select class="form-input form-control month" id="ccmonth" name="month" class="width5 expiry-field gray-text">
			@if(c.expDate == null){
				<option value="">Month</option>	
			}
			
			@for(m <- months) {
				@if(c.expDate != null && c.expDate.getMonthValue == m.getNum) {
					<option value="@m.getNum" selected>@m.getName</option>
				}else{
					<option value="@m.getNum">@m.getName</option>
				}
					
			}
		</select>
		
		<span class="error" id="monthyear-error"></span>
	</div>
	<div class="col-sm-2">
		<select class="form-input form-control year" id="ccyear" name="year" class="width5 expiry-field gray-text input-separator">
			@if(c.expDate == null){
				<option value="">Year</option>
			}
			@for(y <- years) {
				@if(c.expDate != null && c.expDate.getYear == y.getValue) {
					<option value="@y.getValue" selected>@y.getValue</option>
				}else{
					<option value="@y.getValue">@y.getValue</option>
				}
					
			}
			
		</select>
		
		<span class="error" id="monthyear-error"></span>
	</div>
	@if(c.name == null && allUsers != null){
		<div class="col-sm-2">
	    	<label class="control-label" >Card Owner:</label>
	    </div>
	   	
	   	<div class="col-sm-4">
	
			<select class="form-input form-control" id="ccowner" name="owner" class="width5 expiry-field gray-text">
				
				<option value="">Select Card Owner</option>
				@for((u, i) <- allUsers.zipWithIndex){
					<option value="@u.id">@u.id. @u.firstName @u.lastName</option>
					
				}
				
			</select>
			
			<span class="error owner-error"></span>
		</div>
	}

</div>