@(c: models.CreditCard, allTypes: Array[models.enums.CardType], allUsers: java.util.List[models.User],
months: Array[models.enums.Month], years: Array[models.enums.Year])
<div class="row form-group">
	
	<div class="col-sm-2">
		<label class="control-label" for="name">Holder:</label>
	</div>

	<div class="col-sm-4">
		<input class="form-input form-control name " type="text" name="name" placeholder="Card Holder Name" value="@c.getName"/>
		<span class="error" id="name-error"></span>
	</div>
	
	<div class="col-sm-2">
		<label class="control-label" for="cardType">Card&nbsp;Type:</label>
	</div>
	
	<div class="col-sm-4">
		<select class="form-input form-control card-type" name="cardType">
			@if(c.getCardType == null){
	    		<option value="" >Choose Card Type</option>
	    	}
	    	
	        @for(cardType <- allTypes) {
	        	@if(c.getCardType != null && c.getCardType.value == cardType.value) {
	        		<option value="@cardType" selected>@cardType.value</option>
	        	}else{
	    			<option value="@cardType">@cardType.value</option>
	    		}
			}
   		 </select>
    	<span class="error" id="cardtype-error"></span>
    </div>
    
   </div>
   
   <div class="row form-group">
   	
   	<div class="col-sm-2">
		<label class="control-label" for="digits">Card&nbsp;Num:</label>
	</div>
   	
    <div class="col-sm-4">
   	 	<input class="form-input form-control digits" type="text" name="digits" placeholder="Card Number" value="@c.getDigits"/>
   	 	<span class="error" id="digits-error"></span>
    </div>
    
    <div class="col-sm-3">
		<label class="control-label" for="cardType">CVV&nbsp;Number:</label>
	</div>
    
    <div class="col-sm-3">
		<input class="form-input form-control cvv" type="text" name="cvv" placeholder="CVV Number" value="@c.getCvv" />
		<span class="error cvv-error" ></span>
	</div>
	
</div>
    
<div class="row form-group">    
    
    <div class="col-sm-2">
    	<label class="control-label" >Exp.&nbsp;Date:</label>
    </div>
   	
   	<div class="col-sm-2">

		<select class="form-input form-control month" id="ccmonth" name="month" class="width5 expiry-field gray-text">
			@if(c.getExpDate == null){
				<option value="">Month</option>	
			}
			
			@for(m <- months) {
				@if(c.getExpDate != null && c.getExpDate.getMonthValue == m.getNum) {
					<option value="@m.getNum" selected>@m.getName</option>
				}else{
					<option value="@m.getNum">@m.getName</option>
				}
					
			}
		</select>
		
		<span class="error" id="monthyear-error"></span>
	</div>
	<div class="col-sm-2">
		<select class="form-input form-control year" id="ccyear" name="year" class="width5 expiry-field gray-text input-separator">
			@if(c.getExpDate == null){
				<option value="">Year</option>
			}
			@for(y <- years) {
				@if(c.getExpDate != null && c.getExpDate.getYear == y.getValue) {
					<option value="@y.getValue" selected>@y.getValue</option>
				}else{
					<option value="@y.getValue">@y.getValue</option>
				}
					
			}
			
		</select>
		
		<span class="error" id="monthyear-error"></span>
	</div>
	@if(c.getName == null && allUsers != null){
		<div class="col-sm-2">
	    	<label class="control-label" >Card&nbsp;Owner:</label>
	    </div>
	   	
	   	<div class="col-sm-4">
	
			<select class="form-input form-control" id="ccowner" name="owner" class="width5 expiry-field gray-text">
				
				<option value="">Select Card Owner</option>
				@for((u, i) <- allUsers.zipWithIndex){
					<option value="@u.getId">@u.getId. @u.getFirstName @u.getLastName</option>
					
				}
				
			</select>
			
			<span class="error owner-error"></span>
		</div>
	}

</div>

<div class="row text-center error" id="ccrequired-error">    			  			
    	
</div>