@(c: models.CreditCard, allTypes: Array[models.CardType], allUsers: java.util.List[models.User])
<div class="row form-group">
	
	<div class="col-sm-2">
		<label class="control-label" for="name">Card Holder:</label>
	</div>

	<div class="col-sm-4">
		<input class="form-input form-control" type="text" name="name" placeholder="Card Holder Name" value="@c.name"/>
		<span class="error" id="name-error"></span>
	</div>
	
	<div class="col-sm-2">
		<label class="control-label" for="cardType">Card Type:</label>
	</div>
	
	<div class="col-sm-4">
		<select class="form-input form-control" name="cardType">
			@if(c.cardType == null){
	    		<option value="" >Choose Card Type</option>
	    	}else{
	    		<option value="@c.cardType" >@c.cardType.value</option>
	    	}
	    	
	        @for(cardType <- allTypes) {
	    		<option value="@cardType">@cardType.value</option>
			}
   		 </select>
    	<span class="error" id="cardtype-error"></span>
    </div>
    
   </div>
   
   <div class="row form-group">
   	
   	<div class="col-sm-2">
		<label class="control-label" for="digits">Card Num:</label>
	</div>
   	
    <div class="col-sm-4">
   	 	<input class="form-input form-control" type="text" name="digits" placeholder="Card Number" value="@c.digits"/>
   	 	<span class="error" id="digits-error"></span>
    </div>
    
    <div class="col-sm-2">
		<label class="control-label" for="cardType">CVV Number:</label>
	</div>
    
    <div class="col-sm-4">
		<input class="form-input form-control" type="text" name="cvv" placeholder="CVV Number" value="@c.cvv" />
		<span class="error cvv-error" ></span>
	</div>
	
</div>
    
<div class="row form-group">    
    
    <div class="col-sm-2">
    	<label class="control-label" >Exp. Date:</label>
    </div>
   	
   	<div class="col-sm-2">

		<select class="form-input form-control" id="ccmonth" name="month" class="width5 expiry-field gray-text">
			@if(c.expDate == null){
				<option value="">M</option>	
			}else{
				<option value="@c.expDate.getMonthValue">@c.expDate.getMonthValue</option>
			}
			
			<option value="01">01-Jan</option>
			<option value="02">02-Feb</option>
			<option value="03">03-Mar</option>
			<option value="04">04-Apr</option>
			<option value="05">05-May</option>
			<option value="06">06-Jun</option>
			<option value="07">07-Jul</option>
			<option value="08">08-Aug</option>
			<option value="09">09-Sep</option>
			<option value="10">10-Oct</option>
			<option value="11">11-Nov</option>
			<option value="12">12-Dec</option>
		</select>
		
		<span class="error" id="monthyear-error"></span>
	</div>
	<div class="col-sm-2">
		<select class="form-input form-control" id="ccyear" name="year" class="width5 expiry-field gray-text input-separator">
			@if(c.expDate == null){
				<option value="">Y</option>
			}else{
				<option value="@c.expDate.getYear">@c.expDate.getYear</option>
			}
			<option value="2016">2016</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
			<option value="2022">2022</option>
			<option value="2023">2023</option>
			<option value="2024">2024</option>
			<option value="2025">2025</option>
			<option value="2026">2026</option>
			<option value="2027">2027</option>
			<option value="2028">2028</option>
			<option value="2029">2029</option>
			<option value="2030">2030</option>
		</select>
		
		<span class="error" id="monthyear-error"></span>
	</div>
	@if(c.name == null){
		<div class="col-sm-2">
	    	<label class="control-label" >Card Owner:</label>
	    </div>
	   	
	   	<div class="col-sm-4">
	
			<select class="form-input form-control" id="ccowner" name="owner" class="width5 expiry-field gray-text">
				
				<option value="">Select Card Owner</option>
				@for((u, i) <- allUsers.zipWithIndex){
					<option value="@u.id">@u.id. @u.firstName @u.lastName</option>
					
				}
				
			</select>
			
			<span class="error owner-error"></span>
		</div>
	}

</div>