@(login: java.lang.Boolean)
<div class="container-full">
	<nav class="navbar navbar-default header">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    
	   	  <span id="isLogin" class="hidden">@login</span>
	    
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      @if(session.get("admin")!=null){
				      
	      	<a class="navbar-brand" href="@routes.SignUpFlowController.index(false)">
	      		<img src="/assets/images/logo.png" alt="Credit Perfection Admin" height="50px"></a>
	      }else{
	      	<a class="navbar-brand" href="@routes.SignUpFlowController.index(false)">
	      		<img src="/assets/images/logo.png" alt="Credit Perfection" height="50px"></a>
	      }
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	      	<li ><a href="@routes.SignUpFlowController.index(false)">Home</a></li>
	      	@if(session.get("admin")!=null){
	      		<li ><a href="@admin.routes.UserController.users">Users</a></li>
	      		<li ><a href="@admin.routes.SubscriptionController.subscriptions">Subscriptions</a></li>
	      		<li ><a href="@admin.routes.ProductController.products">Products</a></li>
	      		<li ><a href="@admin.routes.CreditCardController.creditCards">Credit Cards</a></li>
	      		<li ><a href="@admin.routes.TransactionController.transactions">Transactions</a></li>
	      		<li ><a href="@admin.routes.AuthNetAccountController.authNetAccounts">Merchant Accounts</a></li>
	      	}else{
	      		<li ><a href="@routes.CreditReportController.reportPage">Report</a></li>
	      		@if(session.get("email")!=null){
		      		<li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="@routes.SubscriptionController.upgradeSubscriptionPage">Upgrade Subscription</a></li>
				          <li><a href="#" data-toggle="modal" data-target="#cancelSubscription">Cancel Subscription</a></li>
				        </ul>
				    </li>
			    }
	      	}
	      	
	        <!-- <li class="active"><a href="#">Home</a></li>
	        <li><a href="#">Page 1</a></li>
	        <li><a href="#">Page 2</a></li> 
	        <li><a href="#">Page 3</a></li> --> 
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        
		    @if(session.get("email")!=null) {
	        	@if(session.get("name")!=null) {
	        
	        		<li><span class="welcome">Welcome, @session.get("name")</span></li>
	        	}
	        	<li><a href="@routes.LoginController.logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	        	
	   		}else{
	   		
	   			
	   			<li><a href="#" data-toggle="modal" data-target="#login">
	   				<span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
		   	}
	      
	        
	        
	        
	      </ul>
	    </div>
	  </div>
	</nav>
</div>

<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="login-form-block">
	           	<div class="flipper">
	                <div class="login-form forgot-pass">
	                    <div class="loader-box">
	                        <div class="loader-inner">
	                            <div></div>
	                        </div>
	                    </div>
	                    <div class="modal-header">
			                <h4 class="title">Remind Password</h4>
			            </div>
	        			<div class="modal-body">    
	        			   
	        			   <div class="row" id="forgot-pass-alert-box">
					      	
					      	</div>      
		                   
		                    <div class="row form-label">
						    
						    	<div class="col-sm-12 ">
						    		<label class="control-label" for="email">E-mail:</label>
						    	</div>
						    </div>
							
							<div class="row form-group">
								<div class="col-sm-12">
									<input class="form-input form-control" type="text" name="email" placeholder="E-mail" >
									<span class="error" id="email-error"></span>
								</div>
							</div>
							<p>The password will be sent to specified e-mail address</p>
							
		                </div>
		                <div class="modal-footer">
			                <button type="button" class="btn btn-default" role="toggle_forgot_password_form">Back</button>
			                <button id="sendPassword" class="btn btn-success btn-ok" 
			                	data-url="@routes.LoginController.forgotPassword()">Send Password</button>
			            </div>
			        </div>    
		            <div class="login-form">
	                    <div class="loader-box">
	                        <div class="loader-inner">
	                            <div></div>
	                        </div>
	                    </div> 
	                    <div class="modal-header">
			                <h4 class="title">Login</h4>
			            </div>
		                <div class="modal-body">    
		                	<div class="row" id="login-alert-box">
					      	
					      	</div>   
						    <div class="row form-label">
						    
						    	<div class="col-sm-12 ">
						    		<label class="control-label" for="email">E-mail:</label>
						    	</div>
						    </div>
							
							<div class="row form-group">
								<div class="col-sm-12">
									<input class="form-input form-control" type="text" name="email" placeholder="E-mail" >
									<span class="error" id="email-error"></span>
								</div>
							</div>
							
							<div class="row form-label">
								<div class="col-sm-12">
						    		<label class="control-label" for="email">Password:</label>
						   	 	</div>
							</div>
							<div class="row form-group">   
							    <div class="col-sm-12">
						    		<input class="form-input form-control" type="password" name="password" placeholder="Password">
						    		<span class="error" id="password-error"></span>
						    	</div>
							</div>
							
							<p><a class="lost-pass-btn" href=""
		                    	role="toggle_forgot_password_form">Forgot Password?</a>
		                    </p>
							    
			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			                <button id="sendLogin" class="btn btn-success btn-ok" 
			                	data-url="@routes.LoginController.login()" 
			                	data-admin-url="@admin.routes.UserController.users()" 
			                	data-user-url="@routes.CreditReportController.reportPage()"
			                	data-payment-url="@routes.PaymentController.paymentPage()">Login</button>
			            </div>
			            
			        </div>   
	            </div>
	    	</div>
        </div>
    </div>
</div>


<div class="modal fade" id="cancelSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Confirm Cancel Subscription</strong>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel the subscription?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a id="confirmCancelSubscription" class="btn btn-danger btn-ok" 
                	data-url="@routes.SubscriptionController.cancelSubscription()" >Yes</a>
            </div>
        </div>
    </div>
</div>
