@(login: java.lang.Boolean)
<nav class="navbar navbar-default header">
	  
	    <div class="navbar-header">
	    
	   	  <span id="isLogin" class="hidden">@login</span>
	    
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      @if(session.get("admin")!=null){
				      
	      	<a class="navbar-brand" href="@routes.SignUpFlowController.index(false)">
	      		<img src="/assets/images/logo.png" alt="Credit Perfection Admin" height="50px"></a>
	      }else{
	      	<a class="navbar-brand" href="@routes.SignUpFlowController.index(false)">
	      		<img src="/assets/images/logo.png" alt="Credit Perfection" height="50px"></a>
	      }
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	      	@if(session.get("admin")!=null){
	      		<li ><a href="@admin.routes.UserController.users">Users</a></li>
	      		<li ><a href="@admin.routes.SubscriptionController.subscriptions">Subscriptions</a></li>
	      		<li ><a href="@admin.routes.ProductController.products">Products</a></li>
	      		<li ><a href="@admin.routes.CreditCardController.creditCards">Credit Cards</a></li>
	      		<li ><a href="@admin.routes.TransactionController.transactions">Transactions</a></li>
	      		<li ><a href="@admin.routes.AuthNetAccountController.authNetAccounts">Merchant Accounts</a></li>
	      	}else{
	      		<li ><a href="@routes.CreditReportController.reportPage">Report</a></li>
	      		@if(session.get("email")!=null){
		      		<li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subscription
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="@routes.SubscriptionController.upgradeSubscriptionPage">Upgrade Subscription</a></li>
				          <li><a href="#" data-toggle="modal" data-target="#cancelSubscription">Cancel Subscription</a></li>
				        </ul>
				    </li>
				    <li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="@routes.CreditCardController.updateCreditCardPage">Update Credit Card</a></li>
				        </ul>
				    </li>
			    }
	      	}
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        
		    @if(session.get("email")!=null) {
	        	@if(session.get("name")!=null) {
	        		<li class="dropdown">
				        <a class="dropdown-toggle welcome" data-toggle="dropdown" href="#">Welcome, @session.get("name")
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="@routes.LoginController.logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				        </ul>
				    </li>
	        	}	        	
	   		} else {
	   			<li><a href="#" data-toggle="modal" data-target="#login">
	   				<span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
		   	}
	        
	      </ul>
	    </div>
	
	</nav>


@loginModal.render()
@subscriptionModals.render()


