@(userForm: Form[models.User], productList: java.util.List[models.Product], allTypes: Array[models.enums.CardType], 
states: Array[models.enums.State], months: Array[models.enums.Month], years: Array[models.enums.Year], login: java.lang.Boolean)
<!DOCTYPE html>
<html lang="en">
<head>
    @head.render
</head>
<body>
	@header.render(login)
	<div class="container">
	    @if(flash.get("message")!=null){
	        <h4><i>@flash.get("message")</i></h4>
	    }
	        
	    @register.render(userForm, states)
	    @chooseProduct.render(productList)
	    @paymentDetails(allTypes, months, years)
	    
    </div>
</body>
</html>