<!DOCTYPE html>
<html lang="en">
<head>
    @head.render
</head>
<body>
	<div class="container">
	    <h2>Credit Perfection</h2>
	    
	    @if(flash.get("message")!=null){
	        <h4><i>@flash.get("message")</i></h4>
	    }
	    
		<form method="post" action="@routes.LoginController.login">
		    <h4>Login</h4>
		    <input type="email" name="email" placeholder="Email" required><br>
		    <input type="password" name="password" placeholder="Password" required><br>
		    <button type="submit">Submit</button>
		</form>
		@forgotpassword.render
	</div>
</body>
</html>