<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="login-form-block">
	           	<div class="flipper">
	                <div id="forgotPass" class="login-form forgot-pass">
	                    <div class="loader-box">
	                        <div class="loader-inner">
	                            <div></div>
	                        </div>
	                    </div>
	                    <div class="modal-header">
			                <h4 class="title">Remind Password</h4>
			            </div>
	        			<div class="modal-body">    
	        			   
	        			   
	        			   <div class="row" id="forgot-pass-alert-box">
					      	
					      	</div>      
		                   
		                    <div class="row form-label">
						    
						    	<div class="col-sm-12 ">
						    		<label class="control-label" for="email">E-mail:</label>
						    	</div>
						    </div>
							
							<div class="row form-group">
								<div class="col-sm-12">
									<input class="form-input form-control" type="text" name="email" placeholder="E-mail" >
									<span class="error" id="email-error"></span>
								</div>
							</div>
							<p>The password will be sent to specified e-mail address</p>
							
		                </div>
		                <div class="modal-footer">
			                <button type="button" class="btn btn-default" role="toggle_forgot_password_form">Back</button>
			                <button id="sendPassword" class="btn btn-success btn-ok" 
			                	data-url="@routes.LoginController.forgotPassword()">Send Password</button>
			            </div>
			        </div>    
		            <div id="loginForm" class="login-form">
	                    <div class="loader-box">
	                        <div class="loader-inner">
	                            <div></div>
	                        </div>
	                    </div> 
	                    <div class="modal-header">
			                <h4 class="title">Login</h4>
			            </div>
		                <div class="modal-body">    
		                
		                	@if(session.get("sessionExpired") == "true") {
	        			   	<div class="row" id="sessionExpired">
					      		<div class="alert alert-warning">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									<span id="alert-message">Your session has expired. Please login again.</span>
								</div>
					      	</div>	
	        			   }
		                
		                	<div class="row" id="login-alert-box">
					      	
					      	</div>   
						    <div class="row form-label">
						    
						    	<div class="col-sm-12 ">
						    		<label class="control-label" for="email">E-mail:</label>
						    	</div>
						    </div>
							
							<div class="row form-group">
								<div class="col-sm-12">
									<input class="form-input form-control" type="text" name="email" placeholder="E-mail" >
									<span class="error" id="email-error"></span>
								</div>
							</div>
							
							<div class="row form-label">
								<div class="col-sm-12">
						    		<label class="control-label" for="email">Password:</label>
						   	 	</div>
							</div>
							<div class="row form-group">   
							    <div class="col-sm-12">
						    		<input class="form-input form-control" type="password" name="password" placeholder="Password">
						    		<span class="error" id="password-error"></span>
						    	</div>
							</div>
							
							<p><a class="lost-pass-btn" href=""
		                    	role="toggle_forgot_password_form">Forgot Password?</a>
		                    </p>
							    
			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			                <button id="sendLogin" class="btn btn-success btn-ok" 
			                	data-url="@routes.LoginController.login()" 
			                	data-admin-url="@admin.routes.UserController.users()" 
			                	data-user-url="@routes.CreditReportController.reportPage()"
			                	data-payment-url="@routes.PaymentController.paymentPage()">Login</button>
			            </div>
			            
			        </div>   
	            </div>
	    	</div>
        </div>
    </div>
</div>