@(user: models.User, allTypes: Array[models.enums.CardType], months: Array[models.enums.Month], years: Array[models.enums.Year])

@if(user.getEmail == null){
	<form class="payment-form horizontal-form register-flow-form hidden"
	 	role="form" data-url="@routes.SignUpFlowController.processPaymentAndGetReport()"
	 	data-report-page-url="@routes.CreditReportController.processUrl()">
}else{
	<form class="payment-form horizontal-form register-flow-form"
	 	role="form" data-url="@routes.SignUpFlowController.processPaymentAndGetReport()"
	 	data-report-page-url="@routes.CreditReportController.processUrl()">
}
	
	<h3 class="text-center form-title">Payment Details</h3>

	@creditCardFields.render(new CreditCard(), allTypes, null, months, years)
	
	
	<div class="row">
		<div class="col-sm-12 text-center">
			<span class="error" id="transactionReportError"></span>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12 text-center">
			<button class="btn btn-success btn-center" id="processPayment" type="submit" >Process Payment</button>
		</div>
	</div>
</form>