@(p: models.Product)
<div class="row form-group">
						    
   	<div class="col-sm-4 ">
   		<label class="control-label" for="name">Product Name:</label>
   	</div>
   	
   	<div class="col-sm-8">
    	<input class="form-input form-control" type="text" name="name" placeholder="Product Name" value="@p.name">
    	<span class="error name-error"></span>
    </div>
    
</div>

<div class="row form-group">
    
    <div class="col-sm-4 ">
    	<label class="control-label" for="price">Price:</label>
    </div>

    <div class="col-sm-8">
    	<input class="form-input form-control" type="text" name="price" placeholder="Price" value="@p.price">
    	<span class="error price-error"></span>
    </div>
    
   </div>
   <div class="row form-group">
   
   	<div class="col-sm-4">
   		<label class="control-label" for="salePrice">Sale Price:</label>
   	</div>
   
   	<div class="col-sm-8">
    	<input class="form-input form-control" type="text" name="salePrice" placeholder="Sale Price" value="@p.salePrice">
    	<span class="error salePrice-error" ></span>
    </div>
    
    
 </div>