@(user: models.User, states: Array[models.enums.State])

<form class="form-horizontal register-form register-flow-form" data-url="@routes.SignUpFlowController.register()" role="form">
    <h3 class="text-center form-title">Register</h3>
    <div class="row form-group">
    
    	<div class="col-sm-2 ">
    		<label class="control-label" for="firstName">First Name:</label>
    	</div>
    	
    	<div class="col-sm-4">
	    	<input class="form-input form-control" type="text" name="firstName" placeholder="First Name" value="@user.firstName">
	    	<span class="error" id="firstname-error"></span>
	    </div>
	    
	    <div class="col-sm-2 ">
	    	<label class="control-label" for="lastName">Last Name:</label>
	    </div>
	    
	    <div class="col-sm-4">
	    	<input class="form-input form-control" type="text" name="lastName" placeholder="Last Name" value="@user.lastName">
	    	<span class="error" id="lastname-error"></span>
	    </div>
	    
    </div>
    <div class="row form-group">
    
    	<div class="col-sm-2">
    		<label class="control-label" for="email">Email:</label>
    	</div>
    
    	<div class="col-sm-4">
	    	<input class="form-input form-control" type="email" name="email" placeholder="Email" value="@user.email">
	    	<span class="error" id="email-error"></span>
	    </div>
	    
	    <div class="col-sm-2">
	    	<label class="control-label" for="email">Password:</label>
	    </div>
	    
	    <div class="col-sm-4">
    		<input class="form-input form-control" type="password" name="password" placeholder="Password" value="@user.password">
    		<span class="error" id="password-error"></span>
    	</div>
    	
	 </div>
	    
	 <div class="row form-group">
    
    	<div class="col-sm-2">
    		<label class="control-label" for="confirmEmail">Email:</label>
    	</div>
    
    	<div class="col-sm-4">
	    	<input class="form-input form-control" type="email" name="confirmEmail" placeholder="Confirm Email" value="@user.email">
	    	<span class="error" id="confirmEmail-error"></span>
	    </div>
	    
	    <div class="col-sm-2">
	    	<label class="control-label" for="confirmPassword">Password:</label>
	    </div>
	    
	    <div class="col-sm-4">
    		<input class="form-input form-control" type="password" name="confirmPassword" 
    			placeholder="Confirm Password" value="@user.password">
    		<span class="error" id="confirmPassword-error"></span>
    	</div>
    	
	 </div>   
	    
    <div class="row form-group">   
     
	    <div class="col-sm-2">
	    	<label class="control-label" for="address">Address:</label>
	    </div>
	    
	    <div class="col-sm-4">
	    	<input class="form-input form-control" type="text" name="address" placeholder="Address" value="@user.address">
	    	<span class="error" id="address-error"></span>
	    </div>
	    
	    <div class="col-sm-2">
	    	<label class="control-label" for="city">City:</label>
	    </div>
	    
	    <div class="col-sm-4">
	    	<input class="form-input form-control" type="text" name="city" placeholder="City" value="@user.city">
	    	<span class="error" id="city-error"></span>
	    </div>
    </div>
    
    <div class="row form-group">  
    
    	<div class="col-sm-2">
	    	<label class="control-label" for="state">State:</label>
	    </div>
    
	    <div class="col-sm-4">
		    <select name="state" class="form-input form-control" >
		    	@if(user.state == null){
		    		<option value=""></option>
		    	}
					
				@for(state <- states) {
					@if(state.getName == user.state){
						<option value="@state.getCode" selected>@state.getName</option>
					}else{
						<option value="@state.getCode">@state.getName</option>
					}
				}	    
		       
		    </select>
		    <span class="error" id="state-error"></span>
		</div>
		
		<div class="col-sm-2">
			<label class="control-label" for="zip">Zip:</label>
		</div>
		
	    <div class="col-sm-4">
		    <input class="form-input form-control" type="text" name="zip" placeholder="Zip Code" value="@user.zip">
		    <span class="error" id="zip-error"></span>
	    </div>
    	
    </div>
    <div class="row" id="registerSuccess">
    </div>
    @if(user.email == null) {
    	<div class="row form-group">
    }else{
    	<div class="row form-group hidden">
    }  
	    <div class="col-sm-12 text-center">
	    	<button class="btn-center btn btn-success" id="register" type="submit">Continue</button>
		</div>
	</div>
</form>