@(user: models.User, prePopulateOnly: java.lang.Boolean)

<div class="trial-block alert alert-small alert-success hidden">
	<span id="alert-message">You've chosen FREE Credit Score and $1 Report with credit monitoring. 7-day trial, then $19.95/month (plus tax for NY and PA residents). 
	Cancel anytime during the trial period at no additional cost, or do nothing to have your membership continue without interruption. Please note, lenders use many different credit scoring models. 
	The score you get from us may not be the one your lender uses.</span>
</div>
