@(creditCard: models.CreditCard, allTypes: Array[models.enums.CardType], months: Array[models.enums.Month], years: Array[models.enums.Year])
<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Update Credit Card</title>
	@head.render
	<script src="/assets/js/creditCard.js" type="text/javascript"></script>
</head>
<body>
	<div class="wrapper">
		@header.render(false)
		<div class="container-fluid">
			
			<div class="row" id="alert-box">
			</div>
			 
					      
	      	<form class="form-horizontal update-form card-validation" role="form">
			    <h3 class="text-center title">Credit Card Info:</h3>
			    
			    <input class="cardID" type="hidden" value="@creditCard.getId"/>
			    
				<div class="row form-group">
					
					<div class="col-sm-4">
						<label class="control-label" for="name">Card&nbsp;Holder:</label>
					</div>
				
					<div class="col-sm-8">
						<input class="form-input form-control name " type="text" name="name" placeholder="Card Holder Name" value="@creditCard.getName"/>
						<span class="error" id="name-error"></span>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-sm-4">
						<label class="control-label" for="cardType">Card&nbsp;Type:</label>
					</div>
					
					<div class="col-sm-8">
						<select class="form-input form-control card-type" name="cardType">
							@if(creditCard.getCardType == null){
					    		<option value="" >Choose Card Type</option>
					    	}
					    	
					        @for(cardType <- allTypes) {
					        	@if(creditCard.getCardType != null && creditCard.getCardType.value == cardType.value) {
					        		<option value="@cardType" selected>@cardType.value</option>
					        	}else{
					    			<option value="@cardType">@cardType.value</option>
					    		}
							}
				   		 </select>
				    	<span class="error" id="cardtype-error"></span>
				    </div>
				    
				</div>
				   
				<div class="row form-group">
				   	
				   	<div class="col-sm-4">
						<label class="control-label" for="digits">Card&nbsp;Num:</label>
					</div>
				   	
				    <div class="col-sm-8">
				   	 	<input class="form-input form-control digits" type="text" name="digits" placeholder="Card Number" value="@creditCard.getDigits"/>
				   	 	<span class="error" id="digits-error"></span>
				    </div>
				</div>
				<div class="row form-group">
				    
				    <div class="col-sm-4">
						<label class="control-label" for="cardType">CVV&nbsp;Number:</label>
					</div>
				    
				    <div class="col-sm-8">
						<input class="form-input form-control cvv" type="text" name="cvv" placeholder="CVV Number" value="@creditCard.getCvv" />
						<span class="error cvv-error" ></span>
					</div>
					
				</div>
				    
				<div class="row form-group">    
				    
				    <div class="col-sm-4">
				    	<label class="control-label" >Exp.&nbsp;Date:</label>
				    </div>
				   	
				   	<div class="col-sm-4">
				
						<select class="form-input form-control month" id="ccmonth" name="month" class="width5 expiry-field gray-text">
							@if(creditCard.getExpDate == null){
								<option value="">Month</option>	
							}
							
							@for(m <- months) {
								@if(creditCard.getExpDate != null && creditCard.getExpDate.getMonthValue == m.getNum) {
									<option value="@m.getNum" selected>@m.getName</option>
								}else{
									<option value="@m.getNum">@m.getName</option>
								}
									
							}
						</select>
						
						<span class="error" id="monthyear-error"></span>
					</div>
					<div class="col-sm-4">
						<select class="form-input form-control year" id="ccyear" name="year" class="width5 expiry-field gray-text input-separator">
							@if(creditCard.getExpDate == null){
								<option value="">Year</option>
							}
							@for(y <- years) {
								@if(creditCard.getExpDate != null && creditCard.getExpDate.getYear == y.getValue) {
									<option value="@y.getValue" selected>@y.getValue</option>
								}else{
									<option value="@y.getValue">@y.getValue</option>
								}
									
							}
							
						</select>
						
						<span class="error" id="monthyear-error"></span>
					</div>
					
				
				</div>
				
				<div class="row text-center error" id="ccrequired-error">    			  			
				    	
				</div>
			    
			    
			        
			    <hr class="separator">
			    <div class="row form-group">  
				    <div class="col-sm-12 text-center">
				    	<button class="btn btn-success" id="updateCreditCard"
				    		data-url="@routes.CreditCardController.updateCreditCard()" >Update Credit Card</button>
				    	
					</div>
				</div>
			</form>
					      
	
		
			<div class="push"></div>
			
		</div>
		
		
	</div>
	
	@footer.render()
	
</body>
</html>